
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1469522166'); /* IE9*/
  src: url('iconfont.eot?t=1469522166#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1469522166') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1469522166') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1469522166#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-form:before { content: "\e612"; }
.icon-computer:before { content: "\e625"; }
.icon-nanzhuang:before { content: "\e60e"; }
.icon-taiwanjingpinmeishi:before { content: "\e633"; }
.icon-xiebao:before { content: "\e615"; }
.icon-meirong:before { content: "\e60c"; }
.icon-xianhua:before { content: "\e631"; }
.icon-jiaju:before { content: "\e637"; }
.icon-qiche:before { content: "\e627"; }
.icon-diannao:before { content: "\e6cd"; }
.icon-baihuo:before { content: "\e693"; }
.icon-xuexi:before { content: "\f02bb"; }
.icon-xiangji:before { content: "\e70a"; }
.icon-muyingwanju:before { content: "\f0009"; }
.icon-icondayu:before { content: "\e670"; }
